@import url('https://fonts.googleapis.com/css2?family=Atma:wght@300;400;500;600;700&family=Montserrat:ital,wght@0,100..900;1,100..900&family=Viga&display=swap');


:root{
    --color-fondo: rgb(249, 238, 234);
    --color-lineas: rgb(0, 0, 0, 0.66);
    --color-linea-invisible:rgb(0, 0, 0, 0);
    --color-primero:rgb(182, 226, 211);
    --color-segundo: rgb(196, 220, 253);
    --color-tercero: rgb(235, 203, 222);
    --color-cuarto:rgb(246, 241, 147);
    --color-quinto:rgb(163, 255, 172);
    --color-sexto:rgb(255, 119, 183);
    --color-septimo: rgb(89, 86, 116);
    --color-letra:rgb(0, 0, 0, 0.88);
    --letra-titulo: "Viga", sans-serif;
    --letra-subtitulo: "Montserrat", sans-serif;
    --letra-texto: "Montserrat", sans-serif;
    --letra-divertida: "Atma", system-ui;
}
/*Eliminacion de margenes y padding predefinidos*/
*{
    margin: 0;
    padding:0;
}
/*body*/
body{
    background-color: var(--color-fondo);
    color: var(--color-letra);
}

/****************************header*******************************/
header {
    display: flex;
    justify-content: space-between;
    align-items: center; 
    background-color: var(--color-segundo);
    padding: 10px;
}
#logo-container{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
    margin: 10px;
}
/* imagen logo */
#logo{
    width: 80px;
    height: auto;
    margin-top: 10px;
    background: none;
}
/* barra de navegacion */
.navbar{
    display: flex;
    justify-content: center;
    align-items: center;
    background: none;
}
.navbar ul {
    list-style-type: none;
    display: flex;
    margin: 10px;
    padding: 0;
    background: none;
}

.navbar li a {
    margin-right: 25px;
    margin-top: 10px;
    text-decoration: none;
    text-decoration-style: solid;
    background: none;
    font-weight: 550;
    font-size: 18px;
    font-family: var(--letra-texto);
    color: var(--color-letra);
}
.navbar li a:hover{
    background-color: var(--color-fondo);
    border-radius: 5px;
    width: 100%;
}
/* icono user y su contenedor */
#icon-container {
    display: flex;
    justify-content: flex-end;
    align-items: center;
    background: none;
}

#icono {
    width: 40px; 
    height: auto;
    margin-left: 10px;
    background-color: var(--color2);
}
/****************************fin del header*******************************/
/*---Comienza Main----*/

/*---Seccion Portada de inicio---*/
.container-portada{
    display: flex;
    justify-content: space-around;
    margin: 80px 0px 80px 0px;
}

.figura-geometrica{
    background-image: url("../assets/img/cuadrado-y-circulo.png");
    background-size: contain;
    background-repeat: no-repeat;
    width: 529px;
    height: 422px;
    padding: 86px 0 100px 60px ;
    
}

.texto-portada{
    gap: 50px;
}

.container-portada h1{
    font-family: var(--letra-titulo);
    font-weight: 400;
    font-size: 4rem;
}

.container-portada p{
    font-family: var(--letra-divertida);
    font-weight: 300;
    font-style: normal;
    font-size: 2.3rem;
    position: relative;
    right:10%;
    
}

.container-portada img{

    align-self: center;
    width: 287px;
    height: 345px;
}

/*FIN PORTADA INICIO*/

/*----Seciones continuas----*/
/*----espacio secciones general(eventos-tematica-catalogo-) ----*/

.container-espacio-secciones{
    display: flex;
    flex-direction: column;
    margin-top: 30px;
}

/*container seccion (eventos-tematica-catalogo-)*/
.container-seccion{
    display: flex;
    height: 659px;
    position: relative;
    align-items: center;
    align-content: center;
    
}
/*Titulos (h2)sobresalientes de las secciones afectando de manera general(eventos-tematica-catalogo)*/
.titulo-seccion h2{
    font-size: 3.20rem;
    font-family: var(--letra-subtitulo);
    font-weight: 400;
    font-style: normal;
}
.titulo-seccion{
    height: fit-content;
    z-index: 1;
    position: absolute;
    top: -80px;
    left: 10px;
    padding: 20px 20px 20px 20px; 
    border-radius: 30px 30px 0 0;
    
    
}
/*posicionamiento de texto en cada seccion de manera general(evento-tematica-catalogo) */
.texto-seccion{
    display: flex; 
    flex-direction: column;
    align-self: center;
    justify-content: center; 
    /*align-items se maneja de manera particular por id*/
    width: 620px;
    
}
/* tipografía Subtitulos(h3) de cada seccion*/
.subtitulo{
    font-family: var(--letra-subtitulo);
    font-optical-sizing: auto;
    font-weight: 500;
    font-style: normal;
    font-size: 3rem;
}
/*tipografía parrafo de cada seccion*/
.parrafo{
    font-family: var(--letra-texto);
    font-optical-sizing: auto;
    font-weight: 300;
    font-style: normal;
    font-size: 1.5rem;
}


/*borde superior secciones*/
.linea-top {
    background-image: repeating-linear-gradient(60deg, var(--color-lineas), var(--color-lineas) 60px, transparent 60px, transparent 60.05px, var(--color-lineas) 60px), repeating-linear-gradient(90deg, var(--color-lineas), var(--color-lineas) 40px, transparent 0, transparent 30px,var(--color-linea-invisible) 80px), repeating-linear-gradient(180deg, #000000, #000000 28.5px, transparent 30px, transparent 48.05px, #000000 49px), repeating-linear-gradient(270deg, #000000, #000000 28.5px, transparent 30px, transparent 48.05px, #000000e1 49px);
    background-size: 0 0, 100% 6px, 0 0 , 0 0;
    background-position: 0 0, 0 5px, 0 0, 0 0;
    background-repeat: no-repeat;   
    }


.linea-titulo {
    background-image: url("../assets/img/lineas-en-titulos.png");
    background-repeat: no-repeat;
    background-size: cover;
    background-position: 0 -20%;
    
}

.container-img{
   width: 100%;
   max-width: 500px;
}

.imagen-seccion{
   width: 100%;
   height: auto;
}

/*--FIN de los estilos de las secciones en general(evento-tematica-catalogo)--*/


/*----primera seccion - eventos----*/

#seccion-1-evento{
   background-color: var(--color-primero);
   justify-content: space-around;
   gap: 15px;
}

#titulo-evento{
    background-color: var(--color-primero);

}
#texto-seccion-evento{
    align-items: start;
    margin-left: 40px;
    margin-bottom: 55px; 
    gap: 40px;
    text-align: start;
}

#subtitulo-seccion-evento h3, span{
    width: fit-content;
    background-color: var(--color-sexto);
}
#subtitulo-seccion-evento  span{
    color: #FFFFFF;
}

#seccion-1-evento div p{
    margin-top: 40px;
    width: 600px;
}

.contenedor-imagen {
    position: relative;
    width: 500px;
    height: 350px;
    margin: 0 auto;
    background-color: #555; /* Solo para referencia */
  }

.imagen {
    position: absolute;
    width: 250px;
    height: auto;
    border-radius: 8px;
    box-shadow: 0 4px 8px rgba(0,0,0,0.3);
    transition: transform 0.3s ease;}

.imagen:hover{
    transform: scale(1.2);
}


 .img1 {
    top: 110px;
    right: 0;
    z-index: 1;
  }

  .img2 {
    top: 100;
    right: 150px;
    z-index: 2;
  }

  .img3 {
    top: 180px;
    right:80px;
    z-index: 3;
  }
/*fin seccion - catálogo*/

/*-----segunda seccion - temática-----*/

#seccion-2-tematica{
    background-color: var(--color-segundo);
    justify-content: space-around;
    gap: 80px;
    flex-direction: row-reverse;
}

/*titulo tematica que sobre sale*/
#titulo-tematica{
    background-color: var(--color-segundo);
    left: 250px;
}


#img-super{

    mask: linear-gradient(#000000 70%, transparent);
    mask: radial-gradient(circle at bottom,#0000 25px, #000 25px);
    mask-size: 12% 100%;
}

#texto-seccion-tematica {
    align-items: end ;
    text-align: end;
    gap: 80px;
    margin-bottom: 30px; 
    margin-right: 30px;
    
}
#texto-seccion-tematica p{
    margin-right: 10px;
}

#subtitulo-seccion-tematica h3{
    display: flex;
    flex-direction: row;
    width: 504px; 
    height: 148px;
    text-align: end;
    margin-bottom: 30px;
}
#subtitulo-seccion-tematica span{
    align-content: end;
    border-radius: 20px;
    width: 297px;
    height: auto;
    text-align: start;
    padding-bottom: 20px;
    padding-left: 10px;
    margin-left: 10px;
    font-weight: 300;
    background-color: var(--color-cuarto);
    
}

/*fin seccion - temática*/

/*-----tercera seccion - catálogo------*/
.container{
    width: 100%;
    display: flex;
    max-width: 1500px;
    margin: 40px auto;
}

.card{
    width: 300px;
    margin: 20px;
    border-radius: 6px;
    overflow: hidden;
    background: #fff;
    box-shadow: 0px 1px 10px rgba(0,0,0,0.2);
    cursor: default;
    transition:  all 0.2s ease;
}
.card:hover{
    box-shadow: 5px 5px 20px rgba(0,0,0,0.4);
    transform: translateY(-3%);
}

.card img{
    width: 100%;
    height: 210px;
}
.card .contenido{
    padding: 20px;
    font-family: var(--letra-divertida);
    text-align: center;
}

.card .contenido p{
    font-family: var(--letra-divertida);
    line-height: 1.5;
    color: black;
}

.card .contenido{
    font-weight:  400;
}
.flecha{
    width: 50px;
    height: auto;
    margin-top: 250px;
}
.btn-mas{
    width: 80px;
    height: 40px;
    font-family: var(--letra-titulo);
    font-size: 1rem;
    background-color: var(--color-sexto);
    border-radius: 15px;
    border-color: var(--color-septimo);
    margin: 5px;
}
#seccion-3-catalogo{
    background-color: var(--color-tercero);
    justify-content: center;
}

#titulo-catalogo{
    background-color: var(--color-tercero);
    left: 500px;
}

/*fin seccion - catálogo*/

/*********************************** seccion cupcake **********************************/
.container-cupcake{
    background-image: url("../assets/img/fondo-cupcake.svg");
    background-size: cover;
    background-color: none;
    background-position: center;  
    width: 100%;
}

.cupcake{
    padding: 20px;
    margin: 5px;
    
}
#imgCupcake{
    width: 250px; 
    height: auto;
    display: block; 
    margin: 0 auto; 
    transition: transform 0.3s ease;
}
/* efecto hover en img */
#imgCupcake:hover {
    transform: scale(1.1); 
}
/********************************** footer **********************************/
footer{
    background-image: url("../assets/img/wave-celeste.svg");;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: top; 
    padding: 3px; 
    text-align: center;
    margin-top: 0px;
    display: flex;
    justify-content: space-around;
    align-items: center;
}
  
.contactanos, .textoFinal, .redes {
    display: inline-block;
    vertical-align: top;
    width: 350px;
    padding: 20px 5px 5px 5px; 
    box-sizing: border-box;
    font-size: 16px;
    text-align: center;
    margin-top: 20px; 
}
  
.logo {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-bottom: 10px;
    justify-content: flex-start;
  }

.logosR {
    display: flex;
    align-items: center;
    gap: 5px;
    margin-left: 45px;
    margin-bottom: 10px;
    justify-content: flex-start;
  }
  
.redesL {
    width: 24px;
    height: 24px;
  }
  
 
.textoI {
    font-family: var(--letra-texto);
    text-align: left;
    margin: 0;
  }
  
  
#fin {
    font-family: var(--letra-texto);
    text-align: center;
    margin-top: 110px;
    font-size: 1rem;
  }




