<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@400;600&display=swap" rel="stylesheet">
    
</head>
<body>
 <!--------------------------header -------------------------->
    <header>
        <div id="logo-container">
            <img id="logo" src="../assets/icons/logo.svg" alt="imagen del logo">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="../templates/catalogo.html">Catalogo</a></li>
                <li><a href="../templates/quienes-somos.html">Nosotros</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono User -->
        <div id="icon-container">
            <a href=""><img id="icono" src="/assets/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
<!-- se agrega estilo de portada de quienes somos -->
    <main>
        <section class="container-portada">
            <div class="texto-portada figura-geometrica">
                <h1>QUIENES <br> 
                    <span>SOMOS</span><br>
                </h1>
            </div>
            <img class="cajapregunta" src="../assets/img/caja de pregunta.png" alt="Caja- de- preguntas">
        </section>
  </main>   
<!--------------------------footer -------------------------->
<footer> 
        
    <!-- contactanos -->
        <div class="contactanos">
            <div class="textf">
                <p class="textoI">Contactanos</p>
            <br>
            </div> 
            <div class="logo">
                <img class="redesL" src="../assets/icons/email.svg" alt="logo de email">
                <p class="textoI">idwaS_A2025@gmail.com</p>
            </div>
            <div class="logo">
                <img class="redesL" src="../assets/icons/phone.svg" alt="logo">
                <p class="textoI">1122565213</p>
            </div>
            <div class="logo">
                <img class="redesL" src="../assets/icons/whatsapp.svg" alt="logo de whatsapp">
                <p class="textoI">345154321</p>
            </div>
        </div>

        <div class="textoFinal">
            <p id="fin">© 2025 IDW S.A</p>
        </div>

        <!-- redes sociales -->
        <div class="redes">
            <div class="textf">
                <p class="textoI">Nuestras Redes</p>
                <br>

            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/facebook.svg" alt="logo de facebook"></a>
            </div>
            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/instagram.svg" alt="logo de instagram"></a>
            </div>
            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/twitter.svg" alt="logo de twitter"></a>
            </div>
        </div> 
   </div>
</footer>
</body>
</html>