<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@400;600&display=swap" rel="stylesheet">
    
</head>
<body>
 <!--------------------------header -------------------------->
    <header>
        <div id="logo-container">
            <img id="logo" src="../assets/icons/logo.svg" alt="imagen del logo">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="../templates/catalogo.html">Catalogo</a></li>
                <li><a href="../templates/quienes-somos.html">Nosotros</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono User -->
        <div id="icon-container">
            <a href=""><img id="icono" src="/assets/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
<!-- se agrega estilo de portada de quienes somos -->
    <main>
        <section class="container-portada">
            <div class="texto-portada figura-geometrica">
                <h1>QUIENES <br> 
                    <span>SOMOS</span><br>
                </h1>
            </div>
            <img class="cajapregunta" src="../assets/img/caja de pregunta.png" alt="Caja- de- preguntas">
        </section>
  </main>   


  <div class="container-catalogo">
    <a href="#"><img class="flecha" src="./assets/img/arrow.png" alt=""></a> <!--  modificar con bootstrap -->
    <div class="carta">
       <img img src="./assets/img/burbuja-kid.jpg" alt="persona">
        <div class="contenido">
            <h3>Pequeños Gigantes</h3>
            <p>Salón con inflables, pelotero y espacio al aire libre.</p>
            <p><strong>Dirección:</strong> Sarmiento 1234</p>
            <p><strong>Precio:</strong> $105.000</p>
            <p>🟢 Disponible</p>
            <button class="btn-mas">Ver más</button>
        </div>
    </div>
    <div class="carta">
        <img img src="./assets/img/salon2.jpg" alt="persona">
        <div class="contenido">
            <h3>Mundo Mágico</h3>
            <p>Salón con juegos interactivos, castillo inflable y sector para meriendas.</p>
            <p><strong>Dirección:</strong> Av. Belgrano 5678</p>
            <p><strong>Precio:</strong> $98.000</p>
            <p>🟢 Disponible</p>
            <button class="btn-mas">Ver más</button>
        </div>
    </div>
    <div class="carta">
        <img img src="./assets/img/evento3.jpg" alt="persona">
        <div class="contenido">
            <h3>Fiesta en el Bosque</h3>
            <p>Lugar temático con decoración natural, inflables y gran parque al aire libre.</p>
            <p><strong>Dirección:</strong>Las Heras 345</p>
            <p><strong>Precio:</strong> $120.000</p>
            <p>🔴 No disponible</p>
            <button class="btn-mas">Ver más</button>
        </div>
    </div>
    <div class="carta">
        <img img src="./assets/img/pelotas-colores.jpg" alt="persona">
        <div class="contenido">
            <h3>Diversión Total</h3>
            <p>Salón amplio con inflables, show de títeres y patio con arenero.</p>
            <p><strong>Dirección:</strong>Mitre 2020</p>
            <p><strong>Precio:</strong> $112.000</p>
            <p>🟠 Consultar disponibilidad</p>
            <button class="btn-mas">Ver más</button>
        </div>
    </div>

    <div class="carta">
        <img src="./assets/img/salon.jpg" alt="persona">
        <div class="contenido">
            <h3>La Casita de Jueguitos</h3>
            <p>Espacio cubierto con pelotero, metegol y zona creativa para pintar.</p>
            <p><strong>Dirección:</strong>Rivadavia 4321</p>
            <p><strong>Precio:</strong> $100.000</p>
            <p>🟢 Disponible</p>
            <button class="btn-mas">Ver más</button>
        </div>
    </div>
<!--------------------------footer -------------------------->
<footer> 
        
    <!-- contactanos -->
        <div class="contactanos">
            <div class="textf">
                <p class="textoI">Contactanos</p>
            <br>
            </div> 
            <div class="logo">
                <img class="redesL" src="../assets/icons/email.svg" alt="logo de email">
                <p class="textoI">idwaS_A2025@gmail.com</p>
            </div>
            <div class="logo">
                <img class="redesL" src="../assets/icons/phone.svg" alt="logo">
                <p class="textoI">1122565213</p>
            </div>
            <div class="logo">
                <img class="redesL" src="../assets/icons/whatsapp.svg" alt="logo de whatsapp">
                <p class="textoI">345154321</p>
            </div>
        </div>

        <div class="textoFinal">
            <p id="fin">© 2025 IDW S.A</p>
        </div>

        <!-- redes sociales -->
        <div class="redes">
            <div class="textf">
                <p class="textoI">Nuestras Redes</p>
                <br>

            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/facebook.svg" alt="logo de facebook"></a>
            </div>
            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/instagram.svg" alt="logo de instagram"></a>
            </div>
            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/twitter.svg" alt="logo de twitter"></a>
            </div>
        </div> 
   </div>
</footer>
</body>
</html>