<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/contacto.css">
</head>
<body>
    <!--------------------------header -------------------------->
        <header>
            <div id="logo-container">
                <img id="logo" src="../assets/icons/logo.svg" alt="imagen del logo">
            </div>
            <div class="navbar">
                <ul>
                    <li><a href="../index.html">Inicio</a></li>
                    <li><a href="quienes-somos.html">Nosotros</a></li>
                    <li><a href="contacto.html">Contacto</a></li>
                </ul>
            </div>
            <!-- Contenedor para el icono User -->
            <div id="icon-container">
                <a href=""><img id="icono" src="../assets/icons/person-fill.svg" alt="Icono"></a>
            </div>
        </header>

         <!-------------------------- main -------------------------->
        <main>
            <section class="container-formulario">

                
                <!-- formulario -->

                <form class="formulario" action="">
                    <section class="formulario-h2">
                        <h2 class="formulario-titulo"id="titulo-evento">Contacto</h2>
                    </section>
                    <!-- titulos -->
                    

                    <section class="formulario-subtitulos">
                        <h2 class="formulario-subtitulos">¿Quieres contarnos tu idea o hacernos una consulta?
                        <br>Completa el formulario y te respondemos lo antes posible &#128516;</h2>

                    </section>    

                    <!-- nombre -->

                    <label for="nombre">NOMBRE/S</label>
                    <input type="text" id="nombre" name="nombre">
                    <br><br>

                    <!-- email -->

                    <label for="email">EMAIL</label>
                    <input type="text" id="email" name="email">
                    <br><br>

                    <!-- consulta -->

                    <label for="consulta">CONSULTA</label>
                    <textarea name="consulta" id="consulta"></textarea>

                    <!-- terminos -->
                
                    <div class="checkbox">
                        <input type="checkbox" name="checkbox" id="acepto">
                        <label for="acepto">He leído y acepto las políticas de privacidad</label>
                    </div>
                    
                    <br><br>
                    
                    <!-- enviar -->

                    <input  class="enviar" type="submit" value="Enviar">
                </form>
            
            </section>
            <section class="horarios">
                <h2>Horario de atencion</h2>
                <h2>Lunes a sabados de 08 a 17 hs</h2>
            </section>

            <section class="container-contacto">
                <div class="wp"><img src="../assets/img/img-contacto/image 7.png" alt="whatsapp">
                    <p>0135555555</p>

                </div>
                <div class="email"><img src="../assets/img/img-contacto/image 8.png" alt="email">
                    <p>eventosinfo@iswa.ar</p>
                    
                </div>
                <div class="tel"><img src="../assets/img/img-contacto/image 9.png" alt="telefono">
                    <p>549333333</p>
                    
                </div>
            </section>
        </main>

         <!--------------------------footer -------------------------->
    <footer> 
        
        <!-- contactanos -->
            <div class="contactanos">
                <div class="textf">
                    <p class="textoI">Contactanos</p>
                <br>
                </div> 
                <div class="logo">
                    <img class="redesL" src="../assets/icons/email.svg" alt="logo de email">
                    <p class="textoI">idwaS_A2025@gmail.com</p>
                </div>
                <div class="logo">
                    <img class="redesL" src="../assets/icons/phone.svg" alt="logo">
                    <p class="textoI">1122565213</p>
                </div>
                <div class="logo">
                    <img class="redesL" src="../assets/icons/whatsapp.svg" alt="logo de whatsapp">
                    <p class="textoI">345154321</p>
                </div>
            </div>

            <div class="textoFinal">
                <p id="fin">© 2025 IDW S.A</p>
            </div>

            <!-- redes sociales -->
            <div class="redes">
                <div class="textf">
                    <p class="textoI">Nuestras Redes</p>
                    <br>

                <div class="logosR">
                    <a href=""><img class="redesL" src="../assets/icons/facebook.svg" alt="logo de facebook"></a>
                </div>
                <div class="logosR">
                    <a href=""><img class="redesL" src="../assets/icons/instagram.svg" alt="logo de instagram"></a>
                </div>
                <div class="logosR">
                    <a href=""><img class="redesL" src="../assets/icons/twitter.svg" alt="logo de twitter"></a>
                </div>
            </div> 
       </div>
    </footer>
        
    
   
</body>
</html>