<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Login</title>
    <link rel="stylesheet" type="text/css" href="../css/login.css">
</head>
<body>
   
    <div class="container-login">
        <div class="container-form">
            <!-- contenedor de iconos -->
             <form class="sign-in">
                <h2>Inicia Sesion</h2>
                <div class="icon-redesSociales">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
            <!-- container inicia sesion -->   

                <span>Use su correo y contraseña</span>
                
                    <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" placeholder="Email">
                    
                    <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="Contraseña">
                   </div>
                   <a href="#">¿Olvidaste tu contraseña?</a>
                   <button class="button">INICIA SESION</button>
                </div>
             </form>
        </div>

        <!-- contenedor Registro -->
         
        <div class="container-form">
            <!-- contenedor de iconos -->
             <form class="registrer">
                <h2>Registrarse</h2>
                <div class="icon-redesSociales">
                    <ion-icon name="logo-instagram"></ion-icon>
                    <ion-icon name="logo-facebook"></ion-icon>
                    <ion-icon name="logo-twitter"></ion-icon>
                </div>
            <!-- container inicia sesion -->   

                <span>Use su correo electronico para Registrarse</span>
                    <div class="container-input">
                    <ion-icon name="person-outline"></ion-icon>
                    <input type="text" placeholder="Nombre">

                    <div class="container-input">
                    <ion-icon name="mail-outline"></ion-icon>
                    <input type="text" placeholder="EmaiL">
                    
                    <div class="container-input">
                    <ion-icon name="lock-closed-outline"></ion-icon>
                    <input type="password" placeholder="Contraseña">
                   </div>
                   <button class="button">REGISTRAR</button>
                </div>
             </form>
            
        </div>

    </div>
    
<!-- Animacion -->
 <button id="btn">click</button>
<!-- vincuacion java -->
<script src="../js/login.js"></script>
<!-- iconos -->
<script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
<script nomodule src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.js"></script>
</body>
</html>