<!DOCTYPE html>
<html lang="es">
<head>
  <meta charset="UTF-8" />
  <meta name="viewport" content="width=device-width, initial-scale=1.0"/>
  <title>Login</title>
  <link rel="stylesheet" href="../css/login.css" />

</head>
<body>

    
  <div class="container-login" id="container">
    <!-- Formulario Iniciar Sesión -->
    <div class="container-form">
      <form class="sign-in">
        <h2>Iniciar sesión</h2>
        <div class="icon-redesSociales">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>

        <div class="container-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="text" placeholder="Email" name="email-login" />
        </div>

        <div class="container-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" placeholder="Contraseña" name="password-login" />
        </div>

        <a href="#">¿Olvidaste tu contraseña?</a>
        <button type="submit" class="button" id="btn-is">Ingresar</button>
      </form>
    </div>

    <!-- Formulario Registrarse -->
    <div class="container-form">
      <form class="register">
        <h2>Registro </h2>
        <h6>registrate con tus redes sociales:</h6>
        <div class="icon-redesSociales">
          <ion-icon name="logo-instagram"></ion-icon>
          <ion-icon name="logo-facebook"></ion-icon>
          <ion-icon name="logo-twitter"></ion-icon>
        </div>
       
        <p class="txt-relleno">o <br> rellena el formulario y empeza a planear la fiesta ideal </p>

        <div class="container-input">
          <ion-icon name="person-outline"></ion-icon>
          <input type="text" placeholder="Nombre" name="name-register" />
        </div>

        <div class="container-input">
          <ion-icon name="mail-outline"></ion-icon>
          <input type="text" placeholder="Email" name="email-register" />
        </div>

        <div class="container-input">
          <ion-icon name="lock-closed-outline"></ion-icon>
          <input type="password" placeholder="Contraseña" name="password-register" />
        </div>

        <button type="submit" class="button" id="btn-rg">Crear cuenta</button>
      </form>
    </div>

    <!-- Bienvenida -->
    <div class="container-bienvenida">
      <div class="bienvenida-registrese bienvenida">
        <h3>¡Bienvenid@!</h3>
        <p>¿Primera vez por aquí? Registrate y empezá a planificar una fiesta inolvidable</p>
        <button class="button" id="btn-registra">Registrarme</button>
      </div>
      <div class="bienvenida-iniciaSesion bienvenida">
        <h3>¡Tu próxima fiesta empieza acá!</h3>
        <p>Registrate e iniciá sesión para gestionar tus reservas y seguir celebrando.</p>
        <button class="button" id="btn-inicia">Iniciar Sesión</button>
      </div>
    </div>
  </div>

  <!-- Vinculación JS -->
  <script src="../js/login.js"></script>

  <!-- Iconos -->
  <script type="module" src="https://unpkg.com/ionicons@7.1.0/dist/ionicons/ionicons.esm.js"></script>
  <script nomodule src="https://unpkg.com

</body>