<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>Panel Admin</title>

    <link rel="stylesheet" href="../css/panel-admin.css">
     <!-- link bootstrap -->
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-4Q6Gf2aSP4eDXB8Miphtr37CMZZQ5oXLH2yaXMJ2w8e2ZtHTl7GptT4jmndRuHDT" crossorigin="anonymous">
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jspdf/2.5.1/jspdf.umd.min.js"></script>

</head>

<body>
    <!--------------------------header -------------------------->
    <header class="sticky-top">
        <nav class="navbar navbar-expand-lg ">
            <div class="container-fluid position-relative d-flex align-items-center justify-content-between py-2">
                <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarTogglerDemo01" aria-controls="navbarTogglerDemo01" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarTogglerDemo01">
                    <a class="navbar-brand" href="#"></a>
                    <ul class="navbar-nav me-auto mb-2 mb-lg-0 nav-links">
                        <li class="nav-item">
                            <a class="nav-link active" aria-current="page" href="../index.html">Inicio</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../templates/catalogo.html">Catalogo</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../templates/quienes-somos.html">Nosotros</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../templates/contacto.html">Contacto</a>
                        </li>
                        <li class="nav-item">
                            <a class="nav-link" href="../templates/panel-admin.html">Panel Admin</a>
                        </li>
                    </ul>
                </div>
            </div>
        </nav>
        <!-- logo -->
          <div id="logoHeader" class="position-absolute top-50 start-50 translate-middle">
              <img src="../assets/icons/logo.svg" alt="logo de la empresa" class="logo">
          </div>

        
    
        <div id="logoHeader" class="position-absolute top-50 start-50 translate-middle">
            <img src="../assets/icons/logo.svg" alt="logo de la empresa" class="logo" />
        </div>

        <!-- Contenedor para el icono User -->
   
        <div id="icon-container" class="d-flex align-items-center gap-2">

            <a id="icono-link" href="#">
                <img id="icono" src="/assets/icons/person-fill.svg" alt="Icono" width="32" height="32">
            </a>

        <!-- Nombre usuario y botón logout, oculto inicialmente -->
            <div id="user-info" class="d-flex align-items-center gap-2" style="display: none;">
                <span id="nombre-usuario" class="fw-bold text-white"></span>
                <button id="btn-logout" class="btn btn-outline-light btn-sm">Cerrar sesión</button>
            </div>
        </div>
       
    </header>

    <main class="d-flex flex-column flex-md-row gap-5 justify-content-center align-items-center">

        <!-- SECCIONES DE ALTA SALON - ALTA SERVICIO-ALTA IMAGEN -ALTA PRESUPUESTO-->
        <section class="my-3 d-flex flex-column-reverse flex-md-column align-items-center justify-content-around gap-2 pb-4 mb-4" id="panel-admin">
            <!-- SECCION alta-->
             <!-- desplegar formulario salon-->
            <div class="d-flex gap-3 p-2">
                <div class="d-flex flex-column p-3" id="alta-salon1">
                    <h4>Agregar Salon</h4>
                    <div class="d-flex align-self-end">
                        <button id="btn-desplegarFormulario" data-bs-toggle="modal" data-bs-target="#modalAltaSalon"  class="boton-agregar">
                            <img src="../assets/icons/ic-agregar.svg" alt="Botón de Agregar" />
                        </button>
                    </div>
                </div>
            <!-- desplegar formulario servicio-->
                <div class="d-flex flex-column p-3" id="alta-salon2">
                    <h4>Agregar Servicio</h4>
                    <div class="d-flex align-self-end">
                        <button id="btn-desplegarFormularioServicio" class="boton-agregar" data-bs-toggle="modal" data-bs-target="#modalServicio">
                            <img src="../assets/icons/ic-agregar.svg" alt="Botón de Agregar" />
                        </button>
                    </div>
                </div>
            <!-- desplegar formulario imagenes-->        
                <div class="d-flex flex-column p-3" id="alta-salon3">
                    <h4>Agregar Imagen</h4>
                    <div class="d-flex align-self-end"> 
                        <button class="boton-agregar" id="btn-desplegarFormularioImagen" data-bs-toggle="modal" data-bs-target="#modalImagen">
                            <img src="../assets/icons/ic-agregar.svg" alt="Botón de Agregar">
                        </button>
                    </div>
                </div>
                <!-- desplegar formulario presupuesto-->
                <div class=" d-flex flex-column p-3"  id="alta-salon3"> 
                    <h4>Presupuesto</h4>
                    <div class="d-flex align-self-end"> 
                        <button class="boton-agregar" data-bs-toggle="modal" data-bs-target="#modalPresupuesto">
                            <img src="../assets/icons/ic-agregar.svg" alt="Botón de Agregar">
                        </button>
                    </div>    
                </div>
            </div>

            <!-- SECCIONES lista (o tablas mejor dicho)-->
            <div class="d-flex flex-wrap">
            <div class="m-5 flex-column table-responsive" id="tabla-visual">
                <p class="fs-3 textoTablas">Salones</p>
                <table class="table table-bordered tabla-visualizar border-dark table-striped">

                    <thead class="table-primary border-dark">
                        <tr>
                            <th scope="col">id</th>
                            <th scope="col">Titulo</th>
                            <th scope="col">Descripción</th>
                            <th scope="col">Dirección</th>
                            <th scope="col">Precio</th>
                            <th scope="col" class="text-center">*</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="tabla-salones">
                    </tbody>
                </table>
            </div>


            <div class="m-5 flex-column table-responsive" id="tabla-Visual">
                <p class="fs-3 textoTablas">Imagenes</p>
                <table class="table table-bordered tabla-visualizar border-dark table-striped">

                    <thead class="table-primary border-dark">
                        <tr>
                            <th scope="col">idImagen</th>
                            <th scope="col">idSalon</th>
                            <th scope="col">ruta Imagen</th>
                            <th scope="col">Imagen</th>
                            <th scope="col" class="text-center">*</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="tabla-imagenes">
                    </tbody>
                </table>
            </div>

            <div class="m-5 flex-column table-responsive" id="tabla-visual">
                <p class="fs-3 textoTablas">Servicios</p>
                <table class="table table-bordered tabla-visualizar border-dark table-striped">
                    <thead class="table-primary border-dark">
                        <tr>
                            <th scope="col">id</th> 
                            <th scope="col">Titulo</th>
                            <th scope="col">Precio</th>
                            <th scope="col" class="text-center">*</th>
                        </tr>
                    </thead>
                    <tbody class="table-group-divider" id="tabla-servicios">

                    </tbody>
                </table>
            </div>

            <!-- Tabla de presupuestos -->
            <div class="m-5 flex-column table-responsive" id="tabla-visual">
                <h4>Presupuestos</h4>
                    <div class="table-responsive">
                        <table class="table table-bordered tabla-visualizar border-dark table-striped">
                        <thead class="table-primary border-dark">
                            <tr>
                            <th>#</th>
                            <th>Servicios</th>
                            <th>Salón</th>
                            <th>Total</th>
                            <th>Acciones</th>
                            <th>PDF</th>
                            </tr>
                        </thead>
                        <tbody id="tablaPresupuestos"></tbody>
                        </table>
                    </div>
            </div>      
        </section>

        <!-- SECCIONES formulario de alta-->
        <!-- Formulario Salones-->


          

    
  <div class="modal fade" id="modalAltaSalon" tabindex="-1" aria-labelledby="modalAltaSalonLabel" aria-hidden="true">
    <div id="contenedor-modal" class="modal-dialog modal-dialog-centered modal-lg">
        <div id="form-admin" class="modal-content align-items-center p-2">
                  
            <h4 class="my-2">Formulario de Salón</h4>

                <form id="formularioSalon" class="d-flex flex-column align-items-center needs-validation form" novalidate>

                    <div class="mb-2 w-100">
                        <label for="inputTituloSalon" class="form-label">Nombre de salón</label>
                        <input type="text" name="titulo" minlength="5" maxlength="50" class="form-control" id="inputTituloSalon" placeholder="Ingrese nombre del salón" required>
                        <div class="valid-feedback">Campo válido</div>
                        <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                    </div>

                    <div class="mb-2 w-100">
                        <label for="inputDireccion" class="form-label">Dirección</label>
                        <input type="text" name="direccion" minlength="5" maxlength="50" class="form-control" id="inputDireccion" placeholder="Ingrese dirección del salón" required>
                        <div class="valid-feedback">Campo válido</div>
                        <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                    </div>

                    <div class="mb-2 w-100">
                        <label for="inputDescripcionSalon" class="form-label">Descripción</label>
                        <textarea class="form-control" name="descripcion" minlength="5" maxlength="80" id="inputDescripcionSalon" rows="3" required></textarea>
                        <div class="valid-feedback">Campo válido</div>
                        <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                    </div>

                    <div class="mb-2 w-100">
                        <label for="inputPrecio" class="form-label">Precio</label>
                        <input type="number" name="precio" class="form-control" id="inputPrecio" placeholder="Ingrese Precio de Salón" required>
                        <div class="valid-feedback">Campo válido</div>
                        <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                    </div>

                    <div class="mb-2">
                        <button id="btn-agregarSalon" type="submit" class="btn btn-primary">Cargar Salón</button>
                    </div>

                </form>
            

            </div>
        </div>
    </div>


            <!---FORMULARIO IMAGEN--->
        <div class="modal fade" id="modalImagen" tabindex="-1" aria-labelledby="modalImagenLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" id="contenedor-modal">
                <div class="modal-content align-items-center p-2" id="form-admin-img">
                    <h4 class="my-2">Formulario de Imagen</h4>
                    <form id="formularioImagen" class="d-flex flex-column align-items-center needs-validation form" novalidate>
                    
                        <div class="mb-2 w-100">
                            <label for="inputIdSalon" class="form-label">Seleccione el ID del Salón</label>
                            <input type="number" name="InputIdSalon" class="form-control" id="inputIdSalon" placeholder="Ingrese ID del salón" required />
                            <div class="valid-feedback">Campo válido</div>
                            <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                        </div>

                        <div class="mb-2 w-100">
                            <label for="inputFotoSalon" class="form-label">URL de la imagen</label>
                            <input type="url" id="inputFotoSalon" name="foto" class="form-control" placeholder="Ingrese la URL de la imagen" required />
                            <div class="valid-feedback">Campo válido</div>
                            <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                        </div>

                        <div class="mb-2">
                            <button id="btn-agregarImagen" type="submit" class="btn btn-primary">Cargar Imagen</button>
                        </div>

                    </form>
                </div>
            </div>
        </div>
    
         <!-- FORMULARIO DE SERVICIOS -->
        <div class="modal fade" id="modalServicio" tabindex="-1" aria-labelledby="modalServicioLabel" aria-hidden="true">
            <div class="modal-dialog modal-dialog-centered modal-lg" id="contenedor-modal">
                <div class="modal-content align-items-center p-2" id="form-admin-servicios">
                <h4 class="my-2">Formulario de Servicios</h4>

                <form id="formularioServicio" class="d-flex flex-column align-items-center needs-validation form" novalidate>

                    <div class="mb-3 w-100">
                    <label for="inputTituloServicio" class="form-label">Nombre de Servicio</label>
                    <input type="text" name="titulo" minlength="5" maxlength="50" class="form-control" id="inputTituloServicio" placeholder="Ingrese nombre del Servicio" required />
                    <div class="valid-feedback">Campo válido</div>
                    <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                    </div>

                    <div class="mb-3 w-100">
                    <label for="inputPrecioServicio" class="form-label">Precio</label>
                    <input type="number" name="precio" class="form-control" id="inputPrecioServicio" placeholder="Ingrese Precio del Servicio" required />
                    <div class="valid-feedback">Campo válido</div>
                    <div class="invalid-feedback">Campo inválido, vuelva a intentarlo</div>
                    </div>

                    <div class="mb-3 w-100 d-flex justify-content-center">
                    <button id="btn-agregarServicio" type="submit" class="btn btn-primary">Cargar Servicio</button>
                    </div>

                </form>
                </div>
            </div>
        </div>

            <!-------PRESUPUESTO----->
            <div class="modal fade" id="modalPresupuesto" tabindex="-1" aria-labelledby="modalPresupuestoLabel" aria-hidden="true">
                <div class="modal-dialog modal-dialog-centered modal-lg" id="contenedor-modal">
                    <div class="modal-content p-4 bg-success-subtle rounded shadow">

                    <h2 class="text-center mb-4">Presupuesto</h2>

                    <!-- Servicios -->
                    <h4>Servicios</h4>
                    <div id="listaServicios" class="mb-4">
                        <div class="form-check"> <!-- ejemplo -->
                            <input class="form-check-input" type="checkbox" value="Catering|50000" id="servicio1">
                            <label class="form-check-label" for="servicio1">Catering - $50.000</label>
                        </div>
                    </div>

                    <!-- Salón -->
                    <h5>Salón</h5>
                    <select id="salonselec" class="form-select mb-4">
                        <!-- Las opciones se cargan dinámicamente -->
                    </select>

                    <div class="text-center mb-2">
                        <button type="button" onclick="solicitarPresupuesto()" class="btn btn-primary">Solicitar Presupuesto</button>
                    </div>

                    </div>
                </div>
            </div>
     

    </main>
    

        <!--------------------------footer -------------------------->
    <footer class="d-flex flex-md-row flex-column flex-wrap justify-content-around align-items-center align-items-md-start text-center py-4 px-2"> 
 
                  <div class="d-flex flex-column justify-content-center align-items-center align-items-md-start mx-2 ">
                    <p id="fin">© 2025 IDW S.A</p>
                </div>

    </footer>

    <script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.6/dist/js/bootstrap.bundle.min.js" integrity="sha384-j1CDi7MgGQ12Z7Qab0qlWQ/Qqz24Gc6BM0thvEMVjHnfYGF0rmFCozFSxQBxwHKO" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/sweetalert2@11"></script>
    <script src="../js/alerta-de-eventos.js"></script>
    <script src="../js/alta-salon.js"></script>
    <script src="../js/validacion.js"></script>
    <script src="../js/alta-servicio.js"></script>
    <script src="../js/presupuesto.js"></script>
    
    <script src="../js/logout.js"></script>


    <script type="module" src="../js/alta-img-salon.js"></script>
    <script type="module" src="../js/inicializar.js"></script>
</body>
</html>
