<!DOCTYPE html>
<html lang="es">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="../css/quienes-somos.css">
    <link href="https://fonts.googleapis.com/css2?family=Atma:wght@400;600&display=swap" rel="stylesheet">
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.2/dist/css/bootstrap.min.css" rel="stylesheet" integrity="sha384-EVSTQN3/azprG1Anm3QDgpJLIm9Nao0Yz1ztcQTwFspd3yD65VohhpuuCOmLASjC" crossorigin="anonymous">
</head>
<body>
 <!--------------------------header -------------------------->
    <header>
        <div id="logo-container">
            <img id="logo" src="../assets/icons/logo.svg" alt="imagen del logo">
        </div>
        <div class="navbar">
            <ul>
                <li><a href="/index.html">Inicio</a></li>
                <li><a href="../templates/catalogo.html">Catalogo</a></li>
                <li><a href="../templates/quienes-somos.html">Nosotros</a></li>
                <li><a href="../templates/contacto.html">Contacto</a></li>
            </ul>
        </div>
        <!-- Contenedor para el icono User -->
        <div id="icon-container">
            <a href=""><img id="icono" src="/assets/icons/person-fill.svg" alt="Icono"></a>
        </div>
    </header>
<!-- se agrega estilo de portada de quienes somos -->
    <main>
        <section class="container-portada">
            <div class="texto-portada figura-geometrica">
                <h1>QUIENES <br> 
                    <span>SOMOS</span><br>
                </h1>
            </div>
            <img class="cajapregunta" src="../assets/img/caja de pregunta.png" alt="Caja- de- preguntas">
        </section>
    </main>
    
    <!------------------ secciones de vision, misión y valores ------------------>
        <section>
            <div> <img src="../assets/img/nubecita.png" alt="" class="nube4"></div>
            
            <div class="box">
                <p>
                     <strong>IDWA </strong>  🏢 <br> Nació como una iniciativa joven y creativa en respuesta a una necesidad: 
                hacer que la organización de fiestas infantiles <br> sea más simple, rápida y divertida. 
                Lo que comenzó como una idea entre amigos se transformó en una plataforma online 
                <br>que conecta a familias con salones de eventos, servicios y proveedores, 
                <br>todo desde un solo lugar.<br><br></p>

            </div>
       
           
            <div> <img src="../assets/img/nubecita.png" alt="" class="nube"></div>
       
        <div class="grupo-mvv"> <!-- se aplica nuevo contenedor, para correr izq/der -->

            <div class="box2 mvv-der"> 
                <div><strong>🎯 Misión</strong></div>
                <p>
                Facilitar la planificación de fiestas infantiles inolvidables, ofreciendo una <br> plataforma intuitiva y completa donde las familias puedan encontrar <br> salones, sumar servicios y organizar su evento sin estrés.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube1"></div>

            <div class="box2 mvv-izq"> 
                <div> 🌟<strong> Visión </strong></div>
                <p>
                Convertirnos en la plataforma líder en organización de fiestas infantiles en el <br> mundo hispanohablante, promoviendo celebraciones únicas, accesibles <br> y llenas de magia.
                </p>
            </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube2"></div>

            <div class="box2 mvv-der"> 
                <div><strong>❤️ Valores</strong></div>
                <p>
                Nos guiamos por la creatividad, la empatía, la alegría, el compromiso con la <br> infancia y el uso de la tecnología para mejorar cada experiencia.
                </p>
                
            </div>
       
        </div>

            <div><img src="../assets/img/nubecita.png" alt="" class="nube3"></div>

            <div class="box1">
                <p>
                Nuestro equipo está conformado por profesionales altamente capacitados y en constante formación.<br> trabajan con pasión y compromiso.
            </p>
            </div>
        </section>

<!------------------ cards del equipo ------------------>
    <div class="container">
        <div class="card">
            <img img src="../assets/img/santiago.png" alt="persona">
            <div class="contenido">
                <h3>Santiago</h3>
                <p>Área Comercial <br> Al</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/noah.png" alt="persona">
            <div class="contenido">
                <h3>Noah</h3>
                <p>Desarrollo <br>Tecnología</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/victoria.png" alt="persona">
            <div class="contenido">
                <h3>Victoria</h3>
                <p>Dirección General</p>
            </div>
        </div>

        <div class="card">
            <img img src="../assets/img/estrella.png" alt="persona">
            <div class="contenido">
                <h3>Estrella</h3>
                <p>Atención al Cliente <br> So</p>
            </div>
        </div>

        <div class="card">
            <img src="../assets/img/gabriela.png" alt="persona">
            <div class="contenido">
                <h3>Gabriela</h3>
                <p>Comunicación <br> Redes Sociales</p>
            </div>
        </div>
        
    </div>
    
    <div class="box"><p><strong>IDWA<br>
        🎈 “Donde cada fiesta comienza con una idea y se convierte en un recuerdo inolvidable.”🎈</strong></p>
    </div>

<!--------------------------footer -------------------------->
<footer> 
        
    <!-- contactanos -->
        <div class="contactanos">
            <div class="textf">
                <p class="textoI">Contactanos</p>
            <br>
            </div> 
            <div class="logo">
                <img class="redesL" src="../assets/icons/email.svg" alt="logo de email">
                <p class="textoI">idwaS_A2025@gmail.com</p>
            </div>
            <div class="logo">
                <img class="redesL" src="../assets/icons/phone.svg" alt="logo">
                <p class="textoI">1122565213</p>
            </div>
            <div class="logo">
                <img class="redesL" src="../assets/icons/whatsapp.svg" alt="logo de whatsapp">
                <p class="textoI">345154321</p>
            </div>
        </div>

        <div class="textoFinal">
            <p id="fin">© 2025 IDW S.A</p>
        </div>

        <!-- redes sociales -->
        <div class="redes">
            <div class="textf">
                <p class="textoI">Nuestras Redes</p>
                <br>

            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/facebook.svg" alt="logo de facebook"></a>
            </div>
            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/instagram.svg" alt="logo de instagram"></a>
            </div>
            <div class="logosR">
                <a href=""><img class="redesL" src="../assets/icons/twitter.svg" alt="logo de twitter"></a>
            </div>
        </div> 
   </div>
</footer>
</body>
</html>